@charset "UTF-8";
.share {
  margin-bottom: 2em;
  position: relative;
  text-align: right; }
  .share .share-post {
    background-color: #fba702;
    border: 1px solid #fba702;
    color: #FFF;
    border-radius: 5px;
    display: block;
    padding: 0.55em 0;
    text-align: center;
    text-decoration: none;
    width: 100%; }
    .share .share-post:focus, .share .share-post:hover {
      color: #FFF; }
    .share .share-post:before {
      background-image: url("/images/ico/ic-share.svg");
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: inline-block;
      height: 15px;
      vertical-align: middle;
      width: 25px; }
  .share .share-post:not(.hide) ~ .social-share {
    display: none; }
  .share .link-share {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    text-align: left;
    padding: 0.2em;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-bottom: 0.5em; }
    .share .link-share:hover {
      opacity: 0.8; }
    .share .link-share.facebook {
      background-image: url("/images/ico/ic-facebook.svg");
      background-color: #3b5998; }
    .share .link-share.twitter {
      background-image: url("/images/ico/ic-twitter.svg");
      background-color: #55acee; }
    .share .link-share.copy {
      background-image: url("/images/ico/ic-link.svg");
      background-color: #359c9c; }
  .share .link-input {
    opacity: 0;
    position: absolute;
    left: -9999px; }
  .share .copy-success {
    font-size: 0.75em;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 125%;
    transition: opacity ease-in-out 250ms;
    text-align: center; }
    .share .copy-success.active {
      opacity: 1; }

@media (min-width: 800px) {
  .share {
    position: fixed;
    top: 10px;
    right: 10px; }
    .share .link-share {
      display: block; }
    .share .copy-success {
      left: 0;
      right: auto;
      top: auto;
      padding: 0.5em;
      background-color: rgba(0, 0, 0, 0.5);
      white-space: nowrap;
      color: white;
      margin-top: 0.5em;
      border-radius: 0.3em; }
      .share .copy-success:before {
        content: '';
        border: 5px solid transparent;
        border-bottom: 5px solid rgba(0, 0, 0, 0.5);
        width: 0;
        height: 0;
        display: block;
        position: absolute;
        bottom: 100%; } }

body {
  background: linear-gradient(to bottom, #73bebe 200px, #F8F8F8 200px) no-repeat #F8F8F8; }

.category-title {
  font-size: 2.5em;
  color: #333;
  margin-top: 0.5em;
  margin-bottom: 1em; }

.talks-container {
  padding: 1em 5%; }
  .talks-container > .title {
    color: #333;
    display: inline-block;
    font-size: 1.8em;
    text-decoration: none;
    line-height: 1.2; }

.talk-container {
  padding: 1em 5%;
  background-color: #FFF; }
  .talk-container > a {
    text-decoration: none;
    color: #000; }
  .talk-container .slides {
    margin-top: 2rem;
    text-align: center; }
    .talk-container .slides iframe {
      max-width: 100%;
      margin: auto;
      display: block; }

.description {
  margin-top: 1.5em;
  font-weight: lighter;
  line-height: 1.8; }

.talk-card {
  padding: 1.5rem;
  background-color: #FFF;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  margin: 1em 0; }
  .talk-card > a {
    text-decoration: none;
    color: #000; }

.title {
  font-size: 2.1em;
  font-weight: 500;
  color: #333;
  margin-bottom: 0.5rem; }

.author {
  display: inline-block;
  text-decoration: none;
  color: #888;
  transition: color 0.3s;
  vertical-align: middle; }
  .author .publisher {
    display: inline-block; }
  .author .avatar {
    border-radius: 50%;
    margin: 0 0.3em 0 0;
    display: inline-block;
    vertical-align: middle; }
  .author:hover {
    color: #FDB933; }
  .author + time:before {
    content: '·'; }

.date {
  color: #888;
  font-size: 0.8em;
  display: inline-block;
  vertical-align: middle; }

.link {
  text-decoration: none;
  color: #000;
  display: block; }
  .link:hover {
    text-decoration: underline; }

.talk-meta {
  color: #888;
  font-weight: 300;
  margin-bottom: 0.5rem; }

.talk-card > .talk-link {
  -ms-flex-item-align: end;
      align-self: flex-end;
  border: 1px solid #fba702;
  border-radius: 3px;
  color: #fba702;
  margin-top: 1em;
  padding: 0.8em;
  transition: background-color 0.3s, color 0.3s;
  font-size: 0.9em; }
  .talk-card > .talk-link:hover {
    background-color: #fba702;
    color: #FFF; }

@media (min-width: 800px) {
  .talk-container {
    padding: 2em;
    margin: 2em 15%; } }
