<footer itemscope itemtype='http://schema.org/Organization'>
    <a rel='home' itemprop='url' href='https://elo7.dev/' >
        elo7.dev © <script>now = new Date; document.write(now.getFullYear());</script>
    </a>
    <meta itemprop='name' content='Elo7 Serviços de Informática SA'/>
    <section class='footer-social'>
        <a title='Github do Elo7' rel='external' itemprop='url' href='https://github.com/elo7' target='_blank' class='github'>Github do Elo7</a>
        <a title='Twitter do Elo7' rel='external' itemprop='url' href='https://twitter.com/elo7tech' target='_blank' class='twitter'>Twitter do Elo7</a>
        <a title='RSS do Elo7' rel='external' itemprop='url' href='{{ .Site.BaseURL }}index.xml' target='_blank' class='rss'>RSS do Elo7</a>
        <a title='Newsletter do Elo7' rel='external' itemprop='url' href='http://eepurl.com/cVUwvH' target='_blank' class='email'>Newsletter do Elo7</a>
    </section>
</footer>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<script async src='/js/analytics.js'></script>
<script async src='/js/github.js'></script>
<script async src='/js/vendor/events-amd.js'></script>
<script async src='/js/vendor/ajax.js'></script>
<script async src='/js/vendor/doc.js'></script>
<script type='text/x-mathjax-config'>
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ['$','$'], ['\\(','\\)'] ],
            displayMath: [ ['$$','$$'], ['\[','\]'] ],
            processEscapes: true
        },
    });
</script>
<script async src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
<script src='/js/vendor/highlight.js'></script>
<script>hljs.initHighlightingOnLoad();</script>
