<!DOCTYPE html>
<html>
{{ partial "head.html" . }}
<link rel='stylesheet' href='{{ "css/meetups.css" | absURL}}'>

<body data-env='{{ .Site.Params.env}}' data-ga-code='{{ .Site.Params.gaCode }}'>
    {{ partial "header.html" . }}
    <main aria-label='Conteúdo principal'>
        <h1 class='container category-title'>Meetups no Elo7</h1>
        <section class='container events'>
            {{ range .Data.Pages.ByDate }}
                <article class='event'>
                    <header>
                        <img src='{{ .Params.image }}' alt=''>
                        <h2 itemprop='name' class='title'>{{ .Params.name }}</h2>
                    </header>
                    {{ partial "date.html" . }}

                    <a href='{{ .Params.link }}' class='link' target='_blank'>Quero ir nesse evento!</a>
                </article>
            {{ end }}
        </section>
    </main>

    {{ partial "footer.html" . }}
</body>

</html>
