<!DOCTYPE html>
<html>
    {{ partial "head.html" . }}
    <body data-env='{{ .Site.Params.env}}' data-ga-code='{{ .Site.Params.gaCode }}'>
        <meta name='page_type' content='tag'>
        {{ partial "header.html" . }}
        <main aria-label="Conteúdo principal" itemscope itemtype="http://schema.org/Blog">
            {{ $paginator := .Paginate (where .Data.Pages "Type" "posts") }}
            {{$page := .}}

            <section class='container posts-container' itemscope itemtype='http://schema.org/Blog'>
                <h1 class='title'>#{{.Title | lower}}</h1>
                {{ range $paginator.Pages }}
                    {{ partial "post-summary.html" (dict "context" . "page" $page)}}
                {{ end }}

            </section>

            {{ partial "pagination.html" . }}
        </main>

        {{ partial "footer.html" . }}
    </body>
</html>
